---
- name: This is a test for ale_aos_command module
  hosts:alcatelTest
  connection: local
  roles:
    - gmoisio.ale_aos
  vars:
    ansible_python_interpreter: "python"
  tasks:
    - name: Save configuration to ftp server
      ale_aos_command:
        host: "{{ inventory_hostname }}"
        username: "{{ switch_username }}"
        password: "{{ switch_password }}"
        timing: True
        command: "tftp {{ tftp_server }} PUT source-file /flash/certified/boot.cfg DESTINATION-FILE {{ inventory_hostname }}.cfg"
